* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assets/Images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;


}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    height: 100px;

}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    gap: 23px;

    padding: 0 30px;

}

.hero .f1 {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(4) {
    font-size: 20px;
    text-align: center;
    font-weight: 400;

}

.separation {
    height: 7px;
    background-color: rgb(49, 48, 48);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    font-weight: 400;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    color: white;
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5)
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;

}




.secimage {
    position: relative;

}

.secimage img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimage video {
    position: absolute;
    top: 51px;
    right: 0;
    align-items: center;
    width: 555px;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;

}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;

}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;

}

.faqbox:hover {
    background-color: #414141;
    color: white;

}

.faqbox svg {
    filter: invert(1);

}

.faqbox {
    color: white;
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    margin: 34px auto;
    max-width: 60vw;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .question {
    padding: 34px 0;
}

footer a {
    font-size: 14px;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

@media screen and (max-width: 1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;

    }
}

@media screen and (max-width: 1300px) {
    .first {
        flex-wrap: wrap;
        gap: 29px;
    }

    .secimage img {
        width: 305px;

    }

    .secimage video {
        width: 305px;
    }

    .hero .f1 {
        font-size: 32px;


    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero> :nth-child(4) {
        font-size: 18px;

    }


    nav {
        max-width: 90vw;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}





@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff');
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'),
        url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff');
}